/* client/src/assets/style/welcomeScreen.css */
.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content, .feedback-section {
    width: 60%;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left: 10px;
  }
  
  .post-form, .feedback-form {
    margin-top: 20px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
  }